body {
  margin: 0;
  padding: 0;
  color: #202020;
  background-color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  line-height: normal;
  letter-spacing: normal;
  color: #202020;
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    margin-top: 90px;
    padding: 0 43px 33px;
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  z-index: 5;
  background-color: white;
  width: calc(100% - 86px);
  top: 0;
}
@media only screen and (max-width: 1280px) {
  .navbar {
    width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: calc(100% - 32px);
    padding: 7px 16px;
  }
}
.navbar__mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
}
@media only screen and (min-width: 1280px) {
  .navbar__mobile {
    display: none !important;
  }
}
.navbar__mobile.active {
  display: block;
}
.navbar__mobile-container {
  border-top: 1px solid #E5E5E5;
  padding: 20px 16px;
}
.navbar__mobile-container__about {
  display: none;
}
.navbar__mobile-border {
  border-top: 1px solid #E5E5E5;
  padding: 20px 16px;
}
.navbar__mobile-item__about {
  font-size: 14px;
  font-weight: 700;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  display: block;
}
.navbar__mobile-item__about:first-child {
  margin-top: 0;
}
.navbar__mobile-item__about__title {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.navbar__mobile-item__about-svg {
  transform: rotate(180deg);
  width: 5px;
  height: 11px;
  float: left;
}
.navbar__mobile-item__about-svg__bottom {
  width: 5px;
  height: 11px;
}
.navbar__mobile-item {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}
.navbar__mobile-item:first-child {
  margin-top: 0;
}
.navbar__mobile-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navbar__mobile-svg {
  width: 5px;
  height: 11px;
}
.navbar__mobile-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.navbar__mobile-bottom:first-child {
  margin-top: 0;
}
.navbar__mobile-bottom__container {
  padding: 20px 16px;
  border-top: 1px solid #E5E5E5;
}
.navbar__mobile-bottom__svg {
  width: 15px;
  height: 15px;
}
.navbar__mobile-bottom__item {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
}
.navbar .menu__open:hover ~ .navbar__left-links-block__menu {
  display: block;
}
.navbar .item__menu-active:hover ~ .navbar__left-links-block__right {
  display: block;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__left img {
  width: 45px;
  height: 45px;
}
@media only screen and (min-width: 1280px) {
  .navbar__left img {
    width: 65px;
    height: 65px;
  }
}
.navbar__left-links {
  display: none;
  align-items: center;
  margin-left: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}
@media only screen and (min-width: 1280px) {
  .navbar__left-links {
    display: flex;
  }
}
.navbar__left-links-block__right {
  display: none;
  position: absolute;
  top: 25%;
  left: 100%;
  z-index: 10;
  color: #202020;
  padding: 20px 25px;
  border: 1px solid #EDEDED;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  min-width: 175px;
}
.navbar__left-links-block__right:hover {
  display: block;
}
.navbar__left-links-block__right-item {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #202020;
  margin-top: 8px;
}
.navbar__left-links-block__right-item:first-child {
  margin-top: 0;
}
.navbar__left-links-block__right-item:hover {
  color: #7e5ddd;
}
.navbar__left-links-block__menu {
  display: none;
  position: absolute;
  top: calc(100% + 13px);
  left: 0;
  transform: translate(-25%, 0);
  z-index: 10;
  color: #202020;
  padding: 20px 0;
  border: 1px solid #EDEDED;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
}
.navbar__left-links-block__menu:hover {
  display: block;
}
.navbar__left-links-block__menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #202020;
  padding: 0 25px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}
.navbar__left-links-block__menu-item:hover {
  color: #7e5ddd;
}
.navbar__left-links-block__menu-item:hover .navbar__left-links-block__menu-item__svg {
  fill: #7e5ddd;
}
.navbar__left-links-block__menu-item:first-child {
  margin-top: 0;
}
.navbar__left-links-block__menu-item__svg {
  fill: #202020;
  width: 6px;
  height: 8px;
  margin-left: 56px;
}
.navbar__left-links__link {
  font-weight: 700;
  margin-left: 12px;
  margin-right: 12px;
  padding: 13px 0;
}
.navbar__left-links__link:hover {
  color: #7e5ddd;
}
.navbar__left-links__link:hover .navbar__left-links__link-svg {
  transform: rotate(180deg);
}
.navbar__left-links__link-block {
  position: relative;
}
.navbar__left-links__link-svg {
  width: 6px;
  height: 8px;
  transition: 0.2s ease;
  margin-left: 5px;
}
.navbar__right {
  display: flex;
  align-items: center;
}
.navbar__right-tel {
  display: none;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}
.navbar__right-tel:hover {
  color: #7e5ddd;
}
@media only screen and (min-width: 1680px) {
  .navbar__right-tel {
    display: block;
  }
}
.navbar__right-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  transition: linear 0.2s;
  margin-right: 15px;
  background-color: #d9dfff;
}
.navbar__right-profile:hover {
  background-color: #7e5ddd;
}
.navbar__right-profile:hover svg {
  fill: #ffffff !important;
}
@media only screen and (min-width: 1280px) {
  .navbar__right-profile {
    width: 50px;
    height: 50px;
  }
  .navbar__right-profile svg {
    width: 20px !important;
    height: 22px !important;
  }
}
.navbar__right-profile svg {
  width: 18px;
  height: 20px;
  fill: #202020;
}
.navbar__right-button {
  padding: 12px 15px;
  border-radius: 100px;
  border: none;
  background-color: #7e5ddd;
  color: #ffffff;
  cursor: pointer;
}
@media only screen and (min-width: 1280px) {
  .navbar__right-button {
    display: none;
  }
}
.navbar__right-button-md {
  display: none;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 15px;
  border-radius: 100px;
  border: none;
  background-color: #7e5ddd;
  color: #ffffff;
  cursor: pointer;
}
@media only screen and (min-width: 1280px) {
  .navbar__right-button-md {
    display: block;
  }
}

.intro {
  position: relative;
  background-image: url("../img/intro-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 30px 16px;
  min-height: 590px;
  overflow: hidden;
  margin-top: 65px;
}
@media only screen and (min-width: 1280px) {
  .intro {
    background-image: url("../img/intro-bg-md.jpg");
  }
}
@media only screen and (min-width: 1280px) {
  .intro {
    padding: 0;
    border-radius: 0 20px 20px 37px;
    min-height: 1025px;
  }
}
.intro__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: block;
}
@media only screen and (max-width: 768px) {
  .intro__video {
    left: -50%;
  }
}
.intro__left {
  display: flex;
  align-items: center;
}
.intro__left-social {
  display: none;
  position: relative;
  background-color: #ffffff;
  padding-right: 56px;
  height: 426px;
  margin-left: -1px;
}
@media only screen and (min-width: 1280px) {
  .intro__left-social {
    display: block;
  }
}
.intro__left-social::before, .intro__left-social::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -47px;
  left: -1px;
  width: 65px;
  height: 48px;
  background-image: radial-gradient(circle at 80% 100%, transparent 50px, #ffffff 50px);
}
@media only screen and (min-width: 1280px) {
  .intro__left-social::before, .intro__left-social::after {
    display: block;
  }
}
.intro__left-social__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 42px;
  margin-top: 40px;
  z-index: 3;
  background-color: #d9dfff;
  padding: 20px 15px;
  border-radius: 100px;
  height: -moz-fit-content;
  height: fit-content;
}
.intro__left-social__bar-item {
  margin-top: 20px;
}
.intro__left-social__bar-item:first-child {
  margin-top: 0;
}
.intro__left-social__bar-item__img {
  width: 26px !important;
  height: 26px !important;
}
.intro__title {
  position: relative;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: 29px;
  max-width: 425px;
  margin-left: -1px;
}
@media only screen and (min-width: 1280px) {
  .intro__title {
    color: #202020;
    background-color: #ffffff;
    font-size: 55px;
    line-height: 60.5px;
    padding: 40px 40px 40px 37px;
    border-radius: 0 0 50px;
    max-width: 780px;
    margin-top: -3px;
  }
}
.intro__title::before, .intro__title::after {
  display: none;
  content: "";
  position: absolute;
  top: 2px;
  right: -49px;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle at 100% 100%, transparent 50px, #ffffff 50px);
}
@media only screen and (min-width: 1280px) {
  .intro__title::before, .intro__title::after {
    display: block;
  }
}
.intro__subtitle {
  position: relative;
  color: #ffffff;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: "Nunito", sans-serif;
  max-width: 425px;
  margin-left: -1px;
}
@media only screen and (min-width: 1280px) {
  .intro__subtitle {
    color: #202020;
    background-color: #ffffff;
    margin-top: 0;
    padding: 0 50px 20px 37px;
    max-width: 400px;
    margin-top: -1px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
  }
}
.intro__subtitle::before, .intro__subtitle::after {
  display: none;
  content: "";
  position: absolute;
  top: 0px;
  right: -49px;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle at 100% 100%, transparent 50px, #ffffff 50px);
}
@media only screen and (min-width: 1280px) {
  .intro__subtitle::before, .intro__subtitle::after {
    display: block;
  }
}
.intro__button {
  padding: 15px 25px;
  border-radius: 100px;
  border: none;
  background-color: #7e5ddd;
  color: #ffffff;
  cursor: pointer;
  margin-top: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .intro__button {
    display: none;
  }
}
.intro__button-md {
  position: relative;
  display: none;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 0 0 50px 0;
  padding: 0 50px 47px 37px;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .intro__button-md {
    display: block;
    margin-top: -1px;
    margin-left: -1px;
  }
}
.intro__button-md button {
  padding: 18px 25px;
  border-radius: 100px;
  border: none;
  background-color: #7e5ddd;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}
.intro__mouse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1px;
  right: 20%;
  background-color: #ffffff;
  border-radius: 50px 50px 0 0;
  width: 110px;
  height: 55px;
}
@media only screen and (min-width: 1280px) {
  .intro__mouse {
    right: 10%;
  }
}
.intro__mouse svg {
  stroke: #303030;
  fill: transparent;
  width: 18px;
  height: 25px;
}
.intro__mouse::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 50px;
  height: 30px;
  background-image: radial-gradient(circle at 98% -72%, transparent 51px, #ffffff 50px);
}
.intro__mouse::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 50px;
  height: 30px;
  background-image: radial-gradient(circle at 2% -72%, transparent 50px, #ffffff 50px);
}

.delivery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1497px;
  margin: 180px auto 0;
}
@media only screen and (max-width: 1280px) {
  .delivery {
    display: none;
  }
}
.delivery__card {
  position: relative;
  max-width: calc(33.3333333333% - 100px);
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 24px;
  padding: 40px;
  border-radius: 40px;
}
.delivery__card:first-child {
  background-color: transparent;
  padding: 40px 80px 40px 0;
}
.delivery__card-title {
  font-size: 45px;
  font-weight: 600;
}
.delivery__card-button {
  padding: 18px 25px;
  border: none;
  border-radius: 40px;
  background-color: #7e5ddd;
  margin-top: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
}
.delivery__card-text {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}
@media only screen and (max-width: 1280px) {
  .delivery__card-text {
    font-size: 18px;
  }
}
.delivery__card-block {
  display: flex;
}
.delivery__card-block__plah {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 20px;
  margin-top: 118px;
  margin-left: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 1280px) {
  .delivery__card-block__plah {
    font-size: 13px;
  }
}
.delivery__card-button__bottom {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 99px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.delivery__card-button__bottom:before {
  content: "";
  position: absolute;
  bottom: 78px;
  left: 70px;
  width: 30px;
  height: 30px;
  background-image: radial-gradient(circle at -10% -35%, transparent 25px, #ffffff 25px);
  z-index: 1;
}
.delivery__card-button__bottom:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -9px;
  width: 30px;
  height: 30px;
  background-image: radial-gradient(circle at 130% 50%, transparent 25px, #ffffff 25px);
  transform: rotate(180deg);
  z-index: 1;
}
.delivery__card-button__bottom-purple {
  position: relative;
  padding: 28.5px 30px;
  background-color: #7e5ddd;
  border-radius: 100px;
  z-index: 2;
  transition: 0.2s ease;
}
.delivery__card-button__bottom-purple:hover {
  transform: rotate(45deg);
  background-color: #DD017F;
}
.delivery__card-button__bottom-purple__svg {
  width: 19px;
  height: 19px;
}

.delivery__mobile {
  max-width: 1497px;
  margin: 60px auto 0;
  max-width: calc(90% + 35px);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .delivery__mobile {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1280px) {
  .delivery__mobile {
    display: none;
  }
}
.delivery__mobile-title {
  font-size: 23px;
  font-weight: 600;
}
.delivery__mobile-slider {
  width: 100%;
}
.delivery__mobile-slider__wrapper {
  display: flex;
  width: 500%;
}
.delivery__mobile-slider__wrapper-item {
  position: relative;
  width: 100%;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 16px;
  overflow: hidden;
}
.delivery__mobile-card__block-plah {
  margin-top: 118px;
  font-size: 13px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  padding: 5px 12px;
}
.delivery__mobile-card__button-bottom {
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.delivery__mobile-card__button-bottom:before {
  content: "";
  position: absolute;
  bottom: 75px;
  left: 59px;
  width: 30px;
  height: 27px;
  background-image: radial-gradient(circle at 55% 140%, transparent 25px, white 25px);
  transform: rotate(180deg);
  z-index: 1;
}
.delivery__mobile-card__button-bottom:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -10px;
  width: 30px;
  height: 27px;
  background-image: radial-gradient(circle at 130% 45%, transparent 25px, white 25px);
  transform: rotate(180deg);
  z-index: 1;
}
.delivery__mobile-card__button-bottom__purple {
  position: relative;
  padding: 30px;
  background-color: #7e5ddd;
  border-radius: 100px;
  z-index: 2;
  transition: 0.2s ease;
}
.delivery__mobile-card__button-bottom__purple:hover {
  transform: rotate(45deg);
  background-color: #DD017F;
}
.delivery__mobile-card__button-bottom__purple-svg {
  width: 11px;
  height: 10px;
}

.slider__first-hidden {
  display: block;
  overflow: hidden;
  margin: 180px auto 0;
  position: relative;
  padding-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .slider__first-hidden {
    max-width: 90%;
    margin: 60px auto 0;
  }
}
@media only screen and (max-width: 1280px) {
  .slider__first-hidden {
    margin: 60px auto 0;
  }
}
@media only screen and (min-width: 768px) {
  .slider__first-hidden {
    max-width: calc(90% + 35px);
  }
}
@media only screen and (min-width: 1280px) {
  .slider__first-hidden {
    max-width: 1497px;
    margin: 180px auto 0;
  }
}
.slider__first-hidden__title {
  font-size: 23px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .slider__first-hidden__title {
    font-size: 45px;
  }
}

.slider__first {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.slider__first-wrapper {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
@media only screen and (max-width: 1280px) {
  .slider__first-wrapper {
    width: 700%;
  }
}
.slider__first-wrapper__item {
  position: relative;
  width: calc(11.1111111111% - 15px);
  height: 100%;
  background-color: #D8DFFF;
  border-radius: 20px;
  margin-right: 24px;
}
.slider__first-wrapper__item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1280px) {
  .slider__first-wrapper__item {
    min-width: 90vw;
    margin-right: 0;
  }
}
.slider__first-wrapper__item-container {
  display: flex;
  align-items: center;
  background-color: #D8DFFF;
  padding: 40px 40px 0 40px;
  border-radius: 20px 20px 0 0;
}
.slider__first-wrapper__item-container__title {
  font-size: 21px;
  font-weight: 600;
  line-height: 34px;
  margin-right: 40px;
}
@media only screen and (min-width: 768px) {
  .slider__first-wrapper__item-container__title {
    font-size: 45px;
  }
}
.slider__first-wrapper__item-container__img {
  height: 26px;
}
@media only screen and (max-width: 768px) {
  .slider__first-wrapper__item-container__img {
    height: 100%;
  }
}
.slider__first-wrapper__item-info {
  padding: 0 40px 40px 40px;
}
.slider__first-wrapper__item-info__title {
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .slider__first-wrapper__item-info__title {
    font-size: 28px;
  }
}
.slider__first-wrapper__item-info__text {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .slider__first-wrapper__item-info__text {
    font-size: 24px;
  }
}
.slider__first-wrapper__item-img {
  display: block;
  width: 100%;
  background-color: #D8DFFF;
  margin: 0 auto;
}
.slider__first-controll {
  margin-top: 40px;
  position: relative;
  max-width: 256px;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .slider__first-controll {
    display: block;
  }
}
.slider__first-controll__nav {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__first-controll__nav-item {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #000;
}
.slider__first-controll__nav-item.mobile {
  display: block;
}
@media only screen and (min-width: 1280px) {
  .slider__first-controll__nav-item.mobile {
    display: none;
  }
}
.slider__first-controll__nav-item.active {
  width: 50px;
  border-radius: 20px;
  background-color: #7e5ddd;
}
.slider__first-controll__nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider__first-controll__nav-arrow__svg {
  width: 18px;
  height: 31px;
}
.slider__first-controll__nav-arrow.slider-first-arrow--left {
  left: 0;
}
.slider__first-controll__nav-arrow.slider-first-arrow--right {
  right: 0;
}

.card {
  position: relative;
  display: none;
  margin-top: 180px;
  max-width: 1495px;
  margin: 180px auto 0;
}
@media only screen and (min-width: 1280px) {
  .card {
    display: block;
  }
}
.card__title {
  font-size: 45px;
  font-weight: 600;
}
.card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}
.card__item-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: calc(25% - 18px);
  width: 100%;
  margin-top: 50px;
}
.card__item-block__svg {
  width: 66px;
  height: 66px;
  margin: 0 auto;
}
.card__item-block__text {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 30px;
}

.security {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/security-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 590px;
  padding: 0 16px;
  margin-top: 60px;
  border-radius: 20px;
  background-color: #7e5ddd;
}
@media only screen and (min-width: 1280px) {
  .security {
    background-image: none;
    min-height: 400px;
    max-width: 1497px;
    margin: 180px auto auto;
    overflow: hidden;
    justify-content: center;
  }
}
.security__img-left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .security__img-left {
    display: block;
  }
}
.security__img-right {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .security__img-right {
    display: block;
  }
}
.security__title {
  font-size: 26px;
  line-height: 31.69px;
  font-weight: 600;
  text-align: center;
  max-width: 283px;
  margin-top: 120px;
  color: #ffffff;
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .security__title {
    font-size: 45px;
    line-height: 54px;
    max-width: 950px;
    margin-top: 0;
  }
}
.security__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 21.82px;
  font-weight: 400;
  text-align: center;
  max-width: 327px;
  margin-top: 12px;
  color: #ffffff;
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .security__subtitle {
    font-size: 24px;
    line-height: 32px;
    max-width: 685px;
  }
}

.banner {
  display: none;
  margin-top: 180px;
}
@media only screen and (min-width: 1280px) {
  .banner {
    display: block;
    max-width: 1470px;
    margin: 180px auto auto;
  }
}
.banner__title {
  font-size: 45px;
  font-weight: 600;
  max-width: 565px;
}
.banner__plah {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  background-color: #D8DFFF;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 100px;
}
.banner__container {
  display: flex;
  margin-top: 30px;
}
.banner__container-left__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__container-left__block-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 315px;
  min-width: 315px;
  max-height: 190px;
  margin-top: 15px;
}
.banner__container-left__block-item:first-child {
  margin-top: 0;
}
.banner__container-left__block-item__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.banner__container-left__block-item__text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.banner__container-right__block {
  position: relative;
  border-radius: 20px;
  max-height: 600px;
  margin-left: 26px;
  overflow: hidden;
  width: 100%;
}
.banner__container-right__block-image {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.banner__container-right__block-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.banner__container-right__block-button__item {
  background-color: #ffffff;
  border: none;
  border-radius: 50px 50px 0 50px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
.banner__container-right__block-button__item::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -20px;
  width: 40px;
  height: 30px;
  background-image: radial-gradient(circle at 100% 60%, transparent 25px, #ffffff 20px);
  transform: rotate(180deg);
  z-index: 1;
}
.banner__container-right__block-button__item::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 40px;
  height: 30px;
  background-image: radial-gradient(circle at 105% 15%, transparent 25px, #ffffff 20px);
  transform: rotate(270deg);
  z-index: 1;
}
.banner__container-right__block-button__item-svg {
  position: relative;
  background-color: #7e5ddd;
  border-radius: 100px;
  padding: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
}
.banner__container-right__block-button__item-svg:hover {
  background-color: #DD017F;
}

.plah {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  background-color: #D8DFFF;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 100px;
}

.banner__container-bottom {
  display: flex;
  margin-top: 30px;
}
.banner__container-bottom__left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__container-bottom__left-block__item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 315px;
  min-width: 315px;
  max-height: 190px;
  margin-top: 15px;
}
.banner__container-bottom__left-block__item:first-child {
  margin-top: 0;
}
.banner__container-bottom__left-block__item-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.banner__container-bottom__left-block__item-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.banner__container-bottom__right-block {
  position: relative;
  border-radius: 20px;
  max-height: 600px;
  margin-left: 26px;
  overflow: hidden;
  width: 100%;
}
.banner__container-bottom__right-block__image {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.banner__container-bottom__right-block__button {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.banner__container-bottom__right-block__button-item {
  background-color: #ffffff;
  border: none;
  border-radius: 50px 50px 0 50px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
.banner__container-bottom__right-block__button-item::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -20px;
  width: 40px;
  height: 30px;
  background-image: radial-gradient(circle at 100% 60%, transparent 25px, #ffffff 20px);
  transform: rotate(180deg);
  z-index: 1;
}
.banner__container-bottom__right-block__button-item::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 40px;
  height: 30px;
  background-image: radial-gradient(circle at 105% 15%, transparent 25px, #ffffff 20px);
  transform: rotate(270deg);
  z-index: 1;
}
.banner__container-bottom__right-block__button-item__svg {
  position: relative;
  background-color: #7e5ddd;
  border-radius: 100px;
  padding: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
}
.banner__container-bottom__right-block__button-item__svg:hover {
  background-color: #DD017F;
}

.license {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/license-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 590px;
  padding: 0 16px;
  margin-top: 60px;
  border-radius: 20px;
  margin-bottom: 74px;
  background-color: #d9dfff;
}
@media only screen and (min-width: 1280px) {
  .license {
    background-image: none;
    min-height: 400px;
    max-width: 1497px;
    overflow: hidden;
    justify-content: center;
    margin: 180px auto 74px;
  }
}
.license__title {
  font-size: 26px;
  line-height: 31.69px;
  font-weight: 600;
  text-align: center;
  max-width: 283px;
  margin-top: 60px;
  color: #303030;
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .license__title {
    font-size: 45px;
    line-height: 54px;
    max-width: 950px;
    margin-top: 0;
  }
}
.license__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 21.82px;
  font-weight: 500;
  text-align: center;
  max-width: 327px;
  margin-top: 12px;
  color: #303030;
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .license__subtitle {
    font-size: 24px;
    line-height: 32px;
    max-width: 685px;
  }
}
.license__button {
  font-family: "Nunito", sans-serif;
  padding: 15px 25px;
  border-radius: 100px;
  border: none;
  background-color: #7e5ddd;
  color: #ffffff;
  cursor: pointer;
  margin-top: 26px;
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .license__button {
    font-size: 18px;
    font-weight: 700;
    padding: 17px 25px;
  }
}

.team {
  display: none;
  max-width: 1497px;
  margin: 180px auto 0;
}
@media only screen and (min-width: 1280px) {
  .team {
    display: block;
  }
}
.team__title {
  font-size: 45px;
  font-weight: 600;
}
.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 26px;
}
.team__container-item {
  max-width: calc(20% - 48px - 64px + 9px);
  margin: 24px;
  padding: 32px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.team__container-item:first-child {
  margin-left: 0;
}
.team__container-item:nth-child(1n+5) {
  margin-right: 0;
}
.team__container-item:nth-child(1n+6) {
  margin-left: 0;
}
.team__container-item__img {
  border-radius: 20px;
  width: 100%;
}
.team__container-item__name {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
}
.team__container-item__block {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.team__container-item__block-text {
  max-width: 115px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-family: "Nunito", sans-serif;
}
.team__container-item__block-button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #303030;
  border-radius: 100px;
  padding: 15.5px 19px;
  transition: 0.2s ease;
}
.team__container-item__block-button:hover {
  transform: rotate(45deg);
  background-color: #DD017F;
}
.team__container-item__block-button__svg {
  width: 12px;
  height: 12px;
}

.slider {
  width: 100%;
  max-width: 1497px;
  margin: 0 auto;
  height: 390px;
}
.slider-hidden {
  display: none;
  overflow: hidden;
  max-width: 1497px;
  margin: 180px auto 0;
  position: relative;
  padding-bottom: 60px;
}
@media only screen and (min-width: 1280px) {
  .slider-hidden {
    display: block;
  }
}
.slider-hidden__title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 50px;
}
.slider__wrapper {
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
.slider__wrapper-item {
  position: relative;
  width: 4%;
  height: 100%;
}
.slider__wrapper-item:hover > .slider__wrapper-item__button {
  display: flex;
}
.slider__wrapper-item__img {
  display: block;
  width: calc(100% - 24px);
  margin: 0 auto;
}
.slider__wrapper-item__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #7e5ddd;
  border-radius: 100px;
  width: 74px;
  height: 74px;
  border: none;
  cursor: pointer;
}
.slider__wrapper-item__button-svg {
  width: 24px;
  height: 24px;
  fill: none;
}
.slider__controll {
  margin-top: 40px;
  position: relative;
  max-width: 256px;
}
.slider__controll-nav {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__controll-nav__item {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #000;
}
.slider__controll-nav__item.active {
  width: 50px;
  border-radius: 20px;
  background-color: #DD017F;
}
.slider__controll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider__controll-arrow__svg {
  width: 18px;
  height: 31px;
}
.slider__controll-arrow.slider-arrow--left {
  left: 0;
}
.slider__controll-arrow.slider-arrow--right {
  right: 0;
}

.form {
  display: none;
  background-color: #d9dfff;
  border-radius: 40px;
  padding: 70px 170px;
  align-items: center;
  margin-top: 180px;
}
@media only screen and (min-width: 1680px) {
  .form {
    display: flex;
  }
}
.form__title {
  font-size: 45px;
  font-weight: 600;
  max-width: 500px;
}
.form__block-item {
  padding: 17px 20px;
  border-radius: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
}
.form__block-item::-moz-placeholder {
  color: #908E8E;
}
.form__block-item::placeholder {
  color: #908E8E;
}
.form__block-submit {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.form__block-submit__button {
  border: none;
  border-radius: 40px;
  background-color: #7e5ddd;
  padding: 10px 25px;
  font-family: "Nunito", sans-serif;
  padding: 18px 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.form__block-submit__text {
  max-width: 380px;
  margin-left: 12px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.footer {
  display: none;
  position: relative;
  background-color: #282539;
  border-radius: 40px;
  padding: 60px 170px;
}
@media only screen and (min-width: 1680px) {
  .footer {
    display: block;
  }
}
.footer__top {
  display: flex;
}
.footer__top-info__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
.footer__top-info__text {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}
.footer__top-info__text:first-child {
  margin-top: 30px;
}
.footer__top-contacts {
  margin-left: 185px;
}
.footer__top-contacts__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
.footer__top-contacts__text {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
  white-space: nowrap;
}
.footer__top-contacts__text:hover {
  color: #DD017F;
}
.footer__top-contacts__text:last-child:hover {
  color: #ffffff;
}
.footer__top-contacts__text:first-child {
  margin-top: 30px;
}
.footer__top-contacts__text-svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer__top-menu {
  margin-left: 185px;
}
.footer__top-menu__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
.footer__top-menu__container {
  display: flex;
  justify-content: space-between;
}
.footer__top-menu__container-left {
  margin-top: 30px;
}
.footer__top-menu__container-left__text {
  display: block;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}
.footer__top-menu__container-left__text:hover {
  color: #DD017F;
}
.footer__top-menu__container-left__text:first-child {
  margin-top: 0;
}
.footer__top-menu__container-right {
  margin-left: 85px;
  margin-top: 30px;
}
.footer__top-menu__container-right__text {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.footer__top-menu__container-right__text:hover {
  color: #DD017F;
}
.footer__top-menu__container-right__text:first-child {
  margin-top: 0;
}
.footer__copyrate {
  display: flex;
  margin-top: 75px;
}
.footer__copyrate-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}
.footer__copyrate-text:last-child {
  margin-left: 300px;
}
.footer__social {
  position: absolute;
  bottom: -60px;
  right: 15%;
  display: flex;
  background-color: #ffffff;
  border-radius: 50% 50% 0 0;
  width: 170px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer__social:before {
  content: "";
  position: absolute;
  bottom: 58px;
  right: -28px;
  width: 30px;
  height: 16px;
  background-image: radial-gradient(circle at 78% -50%, transparent 25px, #ffffff 20px);
  z-index: 1;
}
.footer__social:after {
  content: "";
  position: absolute;
  bottom: 58px;
  left: -26px;
  width: 30px;
  height: 16px;
  background-image: radial-gradient(circle at 10% -36%, transparent 25px, #ffffff 20px);
  z-index: 1;
}
.footer__social-item {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 20px;
  margin-top: 30px;
}
.footer__social-item:first-child {
  margin-left: 0;
}
.footer__social-item__svg {
  width: 26px;
  height: 26px;
}

.position {
  position: relative;
  max-width: 1497px;
  margin: auto auto;
}

.intro__line {
  position: absolute;
  top: 100%;
  right: 14%;
  width: 60%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .intro__line {
    display: none;
  }
}

.delivery__line {
  position: absolute;
  top: 100%;
  right: 14%;
  width: 100%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .delivery__line {
    display: none;
  }
}

.slider__line {
  position: absolute;
  top: 50%;
  right: 101%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .slider__line {
    display: none;
  }
}

.slider__line2 {
  position: absolute;
  top: 96%;
  right: 8%;
  width: 70%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .slider__line2 {
    display: none;
  }
}

.card__line {
  position: absolute;
  width: 75%;
  left: 10%;
  top: 100%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .card__line {
    display: none;
  }
}

.security__line {
  position: absolute;
  top: 105%;
  right: 10%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .security__line {
    display: none;
  }
}

.license__line {
  position: absolute;
  bottom: 100%;
  left: 10%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .license__line {
    display: none;
  }
}

.license__line2 {
  position: absolute;
  top: 100%;
  left: 7%;
  width: 70%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .license__line2 {
    display: none;
  }
}

.slider__controll-line {
  position: absolute;
  top: 85%;
  right: 10%;
  z-index: -1;
}
@media only screen and (max-width: 1680px) {
  .slider__controll-line {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */