$black: #202020;
$white: #ffffff;
$dark-white: #EDEDED;
$purple: #7e5ddd;
$dark-purple: #282539;
$light-purple: #D8DFFF;
$light-black: #303030;
$grey: #d9dfff;
$card-grey: #D9D9D9;
$dark-grey: #f2f2f2;
$light-grey: #E5E5E5;
$asphalt: #908E8E;
$pink: #DD017F;

$xs: 0;
$sm: 768px;
$md: 1280px;
$lg: 1680px;
$xl: 1920px;

@mixin up($value, $prop: min-width) {
  @media only screen and (#{$prop}: #{$value}) {
    @content;
  }
}

@mixin down($value, $prop: max-width) {
  @media only screen and (#{$prop}: #{$value}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $white;
  font-family: "Montserrat Alternates", sans-serif;
  // TODO: убрать это когда буду заниматься адаптацией
  // max-width: $lg;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;

  @include up($sm) {
    padding: 0 20px;
  }

  @include up($md) {
    padding: 0 43px 33px;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;

  &__mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $white;
    border-radius: 0 0 15px 15px;

    @include up($md) {
      display: none !important;
    }

    &.active {
      display: block;
    }

    &-container {
      border-top: 1px solid $light-grey;
      padding: 20px 16px;

      &__about {
        display: none;
      }
    }

    &-border {
      border-top: 1px solid $light-grey;
      padding: 20px 16px;
    }

    &-item__about {
      font-size: 14px;
      font-weight: 700;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      display: block;
      &__title {
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
      }

      &-svg {
        transform: rotate(180deg);
        width: 5px;
        height: 11px;
        float: left;

        &__bottom {
          width: 5px;
          height: 11px;
        }
      }
    }

    &-item {
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
    }

    &-svg {
      width: 5px;
      height: 11px;
    }

    &-bottom {
      display: flex; 
      align-items: center;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      &__container {
        padding: 20px 16px;
        border-top: 1px solid $light-grey;
      }

      &__svg {
        width: 15px;
        height: 15px;
      }

      &__item {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

.menu__open:hover ~ .navbar__left-links-block__menu {
  display: block;
}
.item__menu-active:hover ~ .navbar__left-links-block__right {
  display: block;
}

  &__left {
    display: flex;
    align-items: center;

    & img {
      width: 45px;
      height: 45px;

      @include up($md) {
        width: 65px;
        height: 65px;
      }
    }

    &-links {
      display: none;
      align-items: center;
      margin-left: 35px;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      font-family: 'Nunito', sans-serif;

      @include up($md) {
        display: flex;
      }

      &-block {
        &__right {
          display: none;
          position: absolute;
          top: 25%;
          left: 100%;
          z-index: 10;
          color: $black;
          padding: 20px 25px;
          border: 1px solid $dark-white;
          border-radius: 15px;
          box-shadow: 0px 2px 4px 0px #0000000D;
          background-color: $white;
          min-width: 175px;

          &:hover {
            display: block;
          }

          &-item {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: $black;
            margin-top: 8px;

            &:first-child {
              margin-top: 0;
            }

            &:hover {
              color: $purple;
            }
          }
        }

        &__menu {
          display: none;
          position: absolute;
          top: calc(100% + 13px);
          left: 0;
          transform: translate(-25%, 0);
          z-index: 10;
          color: $black;
          padding: 20px 0;
          border: 1px solid $dark-white;
          border-radius: 15px;
          box-shadow: 0px 2px 4px 0px #0000000D;
          background-color: $white;

          &:hover {
            display: block;
          }

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $black;
            padding: 0 25px;
            margin-top: 8px;
            font-size: 16px;
            font-weight: 500;

            &:hover {
              color: $purple;

              & .navbar__left-links-block__menu-item__svg {
                fill: $purple;
              }
            }

            &:first-child {
              margin-top: 0;
            }

            &__svg {
              fill: $black;
              width: 6px;
              height: 8px;
              margin-left: 56px;
            }
          }
        }
      }

      &__link {
        font-weight: 700;
        margin-left: 12px;
        margin-right: 12px;
        padding: 13px 0;

        &:hover {
          color: $purple;

          & .navbar__left-links__link-svg {
            transform: rotate(180deg);
          }
        }

        &-block {
          position: relative;
        }

        &-svg {
          width: 6px;
          height: 8px;
          transition: 0.2s ease;
          margin-left: 5px;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-tel {
      display: none;
      margin-right: 25px;
      font-weight: 700;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;

      &:hover {
        color: $purple;
      }

      @include up($lg) {
        display: block;
      }
    }

    &-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 100px;
      transition: linear 0.2s;
      margin-right: 15px;
      background-color: $grey;

      &:hover {
        background-color: $purple;

        & svg {
          fill: $white !important;
        }
      }

      @include up($md) {
        width: 50px;
        height: 50px;

        & svg {
          width: 20px !important;
          height: 22px !important;
        }
      }

      & svg {
        width: 18px;
        height: 20px;
        fill: $black;
      }
    }

    &-button {
      padding: 12px 15px;
      border-radius: 100px;
      border: none;
      background-color: $purple;
      color: $white;
      cursor: pointer;

      @include up($md) {
        display: none;
      }
    }

    &-button-md {
      display: none;
      font-size: 13px;
      font-weight: 700;
      padding: 12px 15px;
      border-radius: 100px;
      border: none;
      background-color: $purple;
      color: $white;
      cursor: pointer;

      @include up($md) {
        display: block;
      }
    }
  }
}

.intro {
  position: relative;
  background-image: url("../img/intro-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 30px 16px;
  min-height: 590px;

  @include up($md) {
    background-image: url("../img/intro-bg-md.jpg");
  }

  @include up($md) {
    padding: 0;
    border-radius: 0 20px 20px 37px;
    min-height: 750px;
  }

  &__left {
    display: flex;
    align-items: center;

    &-social {
      display: none;
      position: relative;
      background-color: $white;
      padding-right: 56px;
      height: 433px;
      margin-left: -1px;
      margin-top: -7px;

      @include up($md) {
        display: block;
      }

      &::before, &::after {
        display: none;
        content: "";
        position: absolute;
        bottom: -47px;
        left: -1px;
        width: 65px;
        height: 48px;
        background-image: radial-gradient(circle at 80% 100%, transparent 50px, #ffffff 50px);
  
        @include up($md) {
          display: block;
        }
      }

      &__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 42px;
        margin-top: 40px;
        z-index: 3;
        background-color: $grey;
        padding: 20px 15px;
        border-radius: 100px;
        height: fit-content;

        &-item {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }

          &__img {
            width: 26px !important;
            height: 26px !important;
          }
        }
      }
    }
  }

  &__title {
    position: relative;
    color: $white;
    font-size: 26px;
    font-weight: 600;
    line-height: 29px;
    max-width: 425px;
    margin-left: -1px;

    @include up($md) {
      color: $black;
      background-color: $white;
      font-size: 55px;
      line-height: 60.5px;
      padding: 40px 40px 40px 37px;
      border-radius: 0 0 50px;
      max-width: 780px;
      margin-top: -3px;
    }

    &::before, &::after {
      display: none;
      content: '';
      position: absolute;
      top: 2px;
      right: -49px;
      width: 50px;
      height: 50px;
      background-image: radial-gradient(circle at 100% 100%, transparent 50px, $white  50px);

      @include up($md) {
        display: block;
      }
    }
  }

  &__subtitle {
    position: relative;
    color: $white;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: 'Nunito', sans-serif;
    max-width: 425px;
    margin-left: -1px;

    @include up($md) {
      color: $black;
      background-color: $white;
      margin-top: 0;
      padding: 0 50px 20px 37px;
      max-width: 400px;
      margin-top: -1px;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }

    &::before, &::after {
      display: none;
      content: '';
      position: absolute;
      top: 0px;
      right: -49px;
      width: 50px;
      height: 50px;
      background-image: radial-gradient(circle at 100% 100%, transparent 50px, $white  50px);

      @include up($md) {
        display: block;
      }
    }
  }

  &__button {
    padding: 15px 25px;
    border-radius: 100px;
    border: none;
    background-color: $purple;
    color: $white;
    cursor: pointer;
    margin-top: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Nunito', sans-serif;

    @include up($md) {
      display: none;
    }
  }

  &__button-md {
    display: none;
    background-color: $white;
    max-width: 400px;
    border-radius: 0 0 50px 0;
    padding: 0 50px 47px 37px;

    @include up($md) {
      display: block;
      margin-top: -1px;
      margin-left: -1px;
    }

    & button {
      padding: 18px 25px;
      border-radius: 100px;
      border: none;
      background-color: $purple;
      color: $white;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      font-family: 'Nunito', sans-serif;
    }
  }

  &__mouse {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -1px;
    right: 20%;
    background-color: $white;
    border-radius: 100px 100px 0 0;
    width: 150px;
    height: 70px;

    @include up($md) {
      right: 10%;
    }

    & svg {
      stroke: $light-black;
      fill: transparent;
      width: 18px;
      height: 25px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 138px;
      width: 50px;
      height: 50px;
      background-image: radial-gradient(circle at 100% 100%, transparent 51px, $white  50px);
      transform: rotate(270deg);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -39px;
      width: 50px;
      height: 50px;
      background-image: radial-gradient(circle at 100% 100%, transparent 51px, $white  50px);
      transform: rotate(180deg);
    }
  }
}

.delivery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1497px;
  margin: 180px auto 0 ;

  @include down($md) {
    display: none;
  }

  &__card {
    position: relative;
    max-width: calc(100% / 3 - 100px);
    width: 100%;
    background-color: $card-grey;
    margin-bottom: 24px;
    padding: 40px;
    border-radius: 40px;

    &:first-child {
      background-color: transparent;
      padding: 40px 80px 40px 0;
    }

    &-title {
      font-size: 45px;
      font-weight: 600;
    }

    &-button {
      padding: 18px 25px;
      border: none;
      border-radius: 40px;
      background-color: $purple;
      margin-top: 30px;
      color: $white;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      font-family: 'Nunito', sans-serif;
    }

    &-text {
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;

      @include down($md) {
        font-size: 18px;
      }
    }

    &-block {
      display: flex;
    
      &__plah {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        background-color: $white;
        border-radius: 20px;
        padding: 8px 20px;
        margin-top: 118px;
        margin-left: 10px;
        width: fit-content;

        @include down($md) {
          font-size: 13px;
        }
      }
    }
    &-button__bottom {
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 99px;
      height: 99px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #fff;
      border: none;
      border-radius: 100px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        bottom: 80px;
        left: 59px;
        width: 30px;
        height: 27px;
        background-image: radial-gradient(circle at 55% 140%, transparent 25px, white 25px);
        transform: rotate(180deg);
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: -10px;
        width: 30px;
        height: 27px;
        background-image: radial-gradient(circle at 130% 45%, transparent 25px, white 25px);
        transform: rotate(180deg);
        z-index: 1;
      }

      &-purple {
        position: relative;
        padding: 28.5px 30px;
        background-color: $purple;
        border-radius: 100px;
        z-index: 2;
        transition: 0.2s ease;

        &:hover {
          transform: rotate(45deg);
          background-color: $pink;
        }

        &__svg {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

.delivery__mobile {
  max-width: 1497px;
  margin: 60px auto 0 ;
  max-width: calc(90% + 35px);
  overflow: hidden;

  @include down($sm) {
    max-width: 90%;
  }

  @include up($md) {
    display: none;
  }

  &-title {
    font-size: 23px;
    font-weight: 600;
  }
  &-slider {
    width: 100%;

    &__wrapper {
      display: flex;
      width: calc(100% * 5);

      &-item {
        position: relative;
        width: 100%;
        background-color: $card-grey;
        padding: 20px;
        border-radius: 10px;
        margin-top: 16px;
        overflow: hidden;
      }
    }
  }
  &-card__block-plah {
    margin-top: 118px;
    font-size: 13px;
    font-weight: 700;
    background-color: $white;
    border-radius: 10px;
    margin-left: 15px;
    padding: 5px 12px;
  }
  &-card__button-bottom {
    position: absolute;
    bottom: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      bottom: 75px;
      left: 59px;
      width: 30px;
      height: 27px;
      background-image: radial-gradient(circle at 55% 140%, transparent 25px, white 25px);
      transform: rotate(180deg);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: -10px;
      width: 30px;
      height: 27px;
      background-image: radial-gradient(circle at 130% 45%, transparent 25px, white 25px);
      transform: rotate(180deg);
      z-index: 1;
    }
    &__purple {
      position: relative;
      padding: 30px;
      background-color: $purple;
      border-radius: 100px;
      z-index: 2;
      transition: 0.2s ease;

      &:hover {
        transform: rotate(45deg);
        background-color: $pink;
      }

      &-svg {
        width: 11px;
        height: 10px;
      }
    }
  }
}

.slider__first-hidden {
  display: block;
  overflow: hidden;
  margin: 180px auto 0;
  position: relative;
  padding-bottom: 60px;

  @include down($sm) {
    max-width: 90%;
    margin: 60px auto 0;
  }

  @include down($md) {
    margin: 60px auto 0;
  }

  @include up($sm) {
    max-width: calc(90% + 35px);
  }

  @include up($md) {
    max-width: calc(1497px);
    margin: 180px auto 0;
  }

  &__title {
    font-size: 23px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 50px;

    @include up($sm) {
      font-size: 45px;
    }
  }
}

.slider__first {
  width: 100%;
  height: fit-content;

  &-wrapper {
    width: calc(100% * 3);
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;

    @include down($md) {
      width: calc(100% * 7);
    }

    &__item {
      position: relative;
      width: calc(100% / 9 - 15px);
      height: 100%;
      background-color: $light-purple;
      border-radius: 20px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      @include down($md) {
        min-width: calc(90vw);
        margin-right: 0;
      }

      &-container {
        display: flex;
        align-items: center;
        background-color: $light-purple;
        padding: 40px 40px 0 40px;
        border-radius: 20px 20px 0 0;

        &__title {
          font-size: 21px;
          font-weight: 600;
          line-height: 34px;
          margin-right: 40px;

          @include up($sm) {
            font-size: 45px;
          }
        }

        &__img {
          height: 26px;

          @include down($sm) {
            height: 100%;
          }
        }
      }

      &-info {
        padding: 0 40px 40px 40px;

        &__title {
          font-size: 18px;
          font-weight: 600;

          @include up($sm) {
            font-size: 28px;
          }
        }

        &__text {
          font-family: 'Nunito', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 32px;
          margin-top: 20px;

          @include up($sm) {
            font-size: 24px;
          }
        }
      }

      &-img {
        display: block;
        width: 100%;
        background-color: $light-purple;
        margin: 0 auto;
      }
    }
  }

  &-controll {
    margin-top: 40px;
    position: relative;
    max-width: 256px;
    display: none;

    @include up($md) {
      display: block;
    }

    &__nav {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #000;

        &.mobile {
          display: block;

          @include up($md) {
            display: none;
          }
        }

        &.active {
          width: 50px;
          border-radius: 20px;
          background-color: $pink;
        }
      }

      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &__svg {
          width: 18px;
          height: 31px;
        }

        &.slider-first-arrow--left {
          left: 0;
        }
  
        &.slider-first-arrow--right {
          right: 0;
        }
      }
    }
  }
}

.card {
  position: relative;
  display: none;
  margin-top: 180px;
  max-width: 1495px;
  margin: 180px auto 0;

  @include up($md) {
    display: block;
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;

    &-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: calc(100% / 4 - 18px);
      width: 100%;
      margin-top: 50px;

      &__svg {
        width: 66px;
        height: 66px;
        margin: 0 auto;
      }

      &__text {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        margin-top: 30px;
      }
    }
  }
}

.security {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/security-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 590px;
  padding: 0 16px;
  margin-top: 60px;
  border-radius: 20px;
  background-color: $purple;

  @include up($md) {
    background-image: none;
    min-height: 400px;
    max-width: 1497px;
    margin: 180px auto auto;
    overflow: hidden;
    justify-content: center;
  }

  &__img-left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    @include up($md) {
      display: block;
    }
  }

  &__img-right {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include up($md) {
      display: block;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 31.69px;
    font-weight: 600;
    text-align: center;
    max-width: 283px;
    margin-top: 120px;
    color: $white;
    z-index: 2;

    @include up($md) {
      font-size: 45px;
      line-height: 54px;
      max-width: 950px;
      margin-top: 0;
    }
  }

  &__subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 21.82px;
    font-weight: 400;
    text-align: center;
    max-width: 327px;
    margin-top: 12px;
    color: $white;
    z-index: 2;

    @include up($md) {
      font-size: 24px;
      line-height: 32px;
      max-width: 685px;
    }
  }
}

.banner {
  display: none;
  margin-top: 180px;

  @include up($md) {
    display: block;
    max-width: 1470px;
    margin: 180px auto auto;
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
    max-width: 565px;
  }

  &__plah {
    width: fit-content;
    margin-top: 20px;
    background-color: $light-purple;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 100px;
  }

  &__container {
    display: flex;
    margin-top: 30px;

    &-left__block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-item {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        max-width: 315px;
        min-width: 315px;
        max-height: 190px;
        margin-top: 15px;
        cursor: pointer;

        &:first-child {
          margin-top: 0;
        }

        &__image {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
        }

        &__text {
          color: $white;
          font-size: 28px;
          font-weight: 600;
          position: absolute;
          text-align: center;
          bottom: 20px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    &-right__block {
      position: relative;
      border-radius: 20px;
      max-height: 600px;
      margin-left: 26px;
      overflow: hidden;
      width: 100%;

      &-image {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
      }

      &-button {
        position: absolute;
        bottom: -10px;
        right: -10px;
  
        &__item {
          background-color: $white;
          border: none;
          border-radius: 50px 50px 0 50px;
          width: fit-content;
          height: fit-content;
          padding: 10px;
  
          &::before {
            content: '';
            position: absolute;
            bottom: 10px;
            left: -20px;
            width: 40px;
            height: 30px;
            background-image: radial-gradient(circle at 100% 60%, transparent 25px, $white  20px);
            transform: rotate(180deg);
            z-index: 1;
          }
  
          &::after {
            content: '';
            position: absolute;
            top: -15px;
            right: 0;
            width: 40px;
            height: 30px;
            background-image: radial-gradient(circle at 105% 15%, transparent 25px, $white  20px);
            transform: rotate(270deg);
            z-index: 1;
          }
  
          &-svg {
            position: relative;
            background-color: $purple;
            border-radius: 100px;
            padding: 20px;
            width: 40px;
            height: 40px;
            z-index: 2;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.plah {
  width: fit-content;
  margin-top: 100px;
  background-color: $light-purple;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 100px;
}

.banner__container-bottom {
  display: flex;
  margin-top: 30px;
    
  &__left-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      max-width: 315px;
      min-width: 315px;
      max-height: 190px;
      margin-top: 15px;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      &-image {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }

      &-text {
        color: $white;
        font-size: 28px;
        font-weight: 600;
        position: absolute;
        text-align: center;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__right-block {
    position: relative;
    border-radius: 20px;
    max-height: 600px;
    margin-left: 26px;
    overflow: hidden;
    width: 100%;

    &__image {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 100%;
    }

    &__button {
      position: absolute;
      bottom: -10px;
      right: -10px;

      &-item {
        background-color: $white;
        border: none;
        border-radius: 50px 50px 0 50px;
        width: fit-content;
        height: fit-content;
        padding: 10px;

        &::before {
          content: '';
          position: absolute;
          bottom: 10px;
          left: -20px;
          width: 40px;
          height: 30px;
          background-image: radial-gradient(circle at 100% 60%, transparent 25px, $white  20px);
          transform: rotate(180deg);
          z-index: 1;
        }

        &::after {
          content: '';
          position: absolute;
          top: -15px;
          right: 0;
          width: 40px;
          height: 30px;
          background-image: radial-gradient(circle at 105% 15%, transparent 25px, $white  20px);
          transform: rotate(270deg);
          z-index: 1;
        }

        &__svg {
          position: relative;
          background-color: $purple;
          border-radius: 100px;
          padding: 20px;
          width: 40px;
          height: 40px;
          z-index: 2;
          cursor: pointer;
        }
      }
    }
  }
}

.license {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../img/license-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 590px;
  padding: 0 16px;
  margin-top: 60px;
  border-radius: 20px;
  margin-bottom: 74px;
  background-color: $grey;

  @include up($md) {
    background-image: none;
    min-height: 400px;
    max-width: 1497px;
    overflow: hidden;
    justify-content: center;
    margin: 180px auto 74px;
  }

  &__title {
    font-size: 26px;
    line-height: 31.69px;
    font-weight: 600;
    text-align: center;
    max-width: 283px;
    margin-top: 60px;
    color: $light-black;
    z-index: 2;

    @include up($md) {
      font-size: 45px;
      line-height: 54px;
      max-width: 950px;
      margin-top: 0;
    }
  }

  &__subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 21.82px;
    font-weight: 500;
    text-align: center;
    max-width: 327px;
    margin-top: 12px;
    color: $light-black;
    z-index: 2;

    @include up($md) {
      font-size: 24px;
      line-height: 32px;
      max-width: 685px;
    }
  }

  &__button {
    font-family: 'Nunito', sans-serif;
    padding: 15px 25px;
    border-radius: 100px;
    border: none;
    background-color: $purple;
    color: $white;
    cursor: pointer;
    margin-top: 26px;
    z-index: 2;

    @include up($md) {
      font-size: 18px;
      font-weight: 700;
      padding: 17px 25px;
    }
  }
}

.team {
  display: none;
  max-width: 1497px;
  margin: 180px auto 0;

  @include up($md) {
    display: block;
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;

    &-item {
      max-width: calc(100% / 5 - 48px - 64px + 9px);
      margin: 24px;
      padding: 32px;
      background-color: $dark-grey;
      border-radius: 20px;

      &:first-child {
        margin-left: 0;
      }
      &:nth-child(1n+5) {
        margin-right: 0;
      }
      &:nth-child(1n+6) {
        margin-left: 0;
      }

      &__img {
        border-radius: 20px;
        width: 100%;
      }

      &__name { 
        margin-top: 20px;
        font-size: 28px;
        font-weight: 600;
      }

      &__block {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        &-text {
          max-width: 115px;
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;
          font-family: 'Nunito', sans-serif;
        }

        &-button {
          display: block;
          width: fit-content;
          background-color: $light-black;
          border-radius: 100px;
          padding: 15.5px 19px;
          transition: 0.2s ease;

          &:hover {
            transform: rotate(45deg);
            background-color: $pink;
          }

          &__svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}

.slider {
  width: 100%;
  max-width: calc(1497px);
  margin: 0 auto;
  height: 390px;
  

  &-hidden {
    display: none;
    overflow: hidden;
    max-width: calc(1497px);
    margin: 180px auto 0;
    position: relative;
    padding-bottom: 60px;

    @include up($md) {
      display: block;
    }

    &__title {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    width: calc(100% * 5);
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;

    &-item {
      position: relative;
      width: calc(100% / 25);
      height: 100%;

      &:hover > &__button {
        display: flex;
      }

      &__img {
        display: block;
        width: calc(100% - 24px);
        margin: 0 auto;
      }

      &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        border-radius: 100px;
        width: 74px;
        height: 74px;
        border: none;
        cursor: pointer;

        &-svg {
          width: 24px;
          height: 24px;
          fill: none;
        }
      }
    }
  }

  &__controll {
    margin-top: 40px;
    position: relative;
    max-width: 256px;

    &-nav {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      align-items: center;
      justify-content: center;

      &__item {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #000;

        &.active {
          width: 50px;
          border-radius: 20px;
          background-color: $pink;
        }
      }
    }

    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &__svg {
        width: 18px;
        height: 31px;
      }

      &.slider-arrow--left {
        left: 0;
      }

      &.slider-arrow--right {
        right: 0;
      }
    }
  }
}

.form {
  display: none;
  background-color: $grey;
  border-radius: 40px;
  padding: 70px 170px;
  align-items: center;
  margin-top: 180px;

  @include up($lg) {
    display: flex;
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
    max-width: 500px;
  }

  &__block {
    &-item {
      padding: 17px 20px;
      border-radius: 40px;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      font-weight: 500;
      border: none;
      outline: none;

      &::placeholder {
        color: $asphalt;
      }
    }

    &-submit {
      margin-top: 25px;
      display: flex;
      align-items: center;

      &__button {
        border: none;
        border-radius: 40px;
        background-color: $purple;
        padding: 10px 25px;
        font-family: 'Nunito', sans-serif;
        padding: 18px 25px;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        color: $white;
        cursor: pointer;
      }

      &__text {
        max-width: 380px;
        margin-left: 12px;
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
      }
    }
  }
}

.footer {
  display: none;
  position: relative;
  background-color: $dark-purple;
  border-radius: 40px;
  padding: 60px 170px;


  @include up($lg) {
    display: block;
  }

  &__top {
    display: flex;
    
    &-info {
      &__title {
        color: $white;
        font-size: 28px;
        font-weight: 600;
      }
      &__text {
        color: $white;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-top: 20px;

        &:first-child {
          margin-top: 30px;
        }
      }
    }

    &-contacts {
      margin-left: 185px;

      &__title {
        color: $white;
        font-size: 28px;
        font-weight: 600;
      }

      &__text {
        display: flex;
        align-items: center;
        color: $white;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-top: 20px;
        white-space: nowrap;

        &:hover {
          color: $pink;
        }

        &:last-child:hover {
          color: $white;
        }

        &:first-child {
          margin-top: 30px;
        }

        &-svg {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }

    &-menu {
      margin-left: 185px;

      &__title{
        color: $white;
        font-size: 28px;
        font-weight: 600;
      }

      &__container {
        display: flex;
        justify-content: space-between;

        &-left {
          margin-top: 30px;

          &__text {
            display: block;
            color: $white;
            font-family: 'Nunito', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            margin-top: 20px;

            &:hover {
              color: $pink;
            }

            &:first-child {
              margin-top: 0;
            }
          }
        }

        &-right {
          margin-left: 85px;
          margin-top: 30px;

          &__text {
            display: block;
            color: $white;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;

            &:hover {
              color: $pink;
            }

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  &__copyrate {
    display: flex;
    margin-top: 75px;

    &-text {
      color: $white;
      font-size: 12px;
      font-weight: 300;

      &:last-child {
        margin-left: 300px;
      }
    }
  }
  &__social {
    position: absolute;
    bottom: 0;
    right: 15%;
    display: flex;
    background-color: $white;
    border-radius: 50px 50px 0 0;
    padding: 30px 20px 0 20px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -28px;
      width: 30px;
      height: 20px;
      background-image: radial-gradient(circle at 86% -15%, transparent 25px, #ffffff 20px);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: -26px;
      width: 30px;
      height: 20px;
      background-image: radial-gradient(circle at 10% -15%, transparent 25px, #ffffff 20px);
      z-index: 1;
    }

    &-item {
      display: block;
      width: 26px;
      height: 26px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      &__svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.position {
  position: relative;
  max-width: 1497px;
  margin: auto auto;
}

.intro__line {
  position: absolute;
  top: 100%;
  right: 14%;
  width: 60%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.delivery__line {
  position: absolute;
  top: 100%;
  right: 14%;
  width: 100%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.slider__line {
  position: absolute;
  top: 50%;
  right: 101%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.slider__line2 {
  position: absolute;
  top: 96%;
  right: 8%;
  width: 70%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.card__line {
  position: absolute;
  width: 75%;
  left: 10%;
  top: 100%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.security__line {
  position: absolute;
  top: 105%;
  right: 10%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.license__line {
  position: absolute;
  bottom: 100%;
  left: 10%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.license__line2 {
  position: absolute;
  top: 100%;
  left: 7%;
  width: 70%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}
.slider__controll-line {
  position: absolute;
  top: 85%;
  right: 10%;
  z-index: -1;
  @include down($lg) {
    display: none;
  }
}